@import "../../scss/colors.scss";
@import "../../scss/breakpoints.scss";

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10000;
}

.modal-content {
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: $white;
  display: flex;
  z-index: 10000;
  // overflow: hidden;

  .close-button {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10;
  }

  .floating-button {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 1rem;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 1)
    );
  }

  .products-title {
    font-weight: 500;
    font-weight: 500;
    font-size: 1.2rem;
    color: $deepgrey;
    margin-bottom: 0.5rem;
  }

  .mobile-summary {
    width: calc(100vw - 2rem);
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $lightdeepgrey;
    margin-bottom: 1rem;

    .summary-title {
      margin-bottom: 1rem;
    }

    .item {
      // width: calc(100vw - 2rem);
      // background-color: red;
    }
  }

  .left-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem 0 2rem 1rem;
    overflow-y: scroll;
    // padding: 0;
    // background-color: red;

    .title {
      font-size: 2rem;
      color: $deepgrey;
      margin-top: 3rem;
    }

    .no-items {
      margin-top: 15vh;
      text-align: center;
    }

    .list {
      flex: 1;
      padding-right: 2rem;
      padding-bottom: 5rem;
    }
  }

  .right-content {
    width: 25rem;
    border-left: 1px solid $lightdeepgrey;
    padding: 4rem 2rem 2rem 2rem;
    flex-direction: column;
    height: 100%;
    display: none;
  }

  .summary-title {
    margin: 2rem 0;
    font-weight: 500;
    font-size: 1.2rem;
    color: $deepgrey;
  }

  .item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 0;

    .key {
      font-size: 1rem;
      color: $deepgrey;
    }

    .value {
      font-size: 1.125rem;
      font-weight: 500;
      color: $deepgrey;
    }
  }

  // @include sm {
  //   left: 0%;
  //   width: 100%;

  //   .close-button {
  //     top: 2rem;
  //     right: 3rem;
  //   }

  //   .left-content {
  //     padding: 2rem 0 2rem 2rem;
  //     overflow-y: hidden;

  //     .list {
  //       overflow-y: scroll;
  //     }
  //   }

  //   .right-content {
  //     display: flex;
  //     width: 30%;
  //   }

  //   .mobile-summary {
  //     display: none;
  //   }

  //   .products-title {
  //     display: none;
  //   }

  //   .floating-button {
  //     display: none;
  //   }
  // }

  @include md {
    left: 10%;
    width: 90%;

    .close-button {
      top: 2rem;
      right: 2rem;
    }

    .left-content {
      padding: 2rem 0 2rem 2rem;
      overflow-y: hidden;

      .list {
        overflow-y: scroll;
      }
    }

    .right-content {
      display: flex;
      width: 40%;
      padding: 4rem 1rem 2rem 1rem;
    }

    .mobile-summary {
      display: none;
    }

    .products-title {
      display: none;
    }

    .floating-button {
      display: none;
    }
  }

  @include lg {
    left: 25%;
    width: 75%;

    .close-button {
      top: 2rem;
      right: 3rem;
    }

    .left-content {
      padding: 2rem 0 2rem 2rem;
      overflow-y: hidden;

      .list {
        overflow-y: scroll;
      }
    }

    .right-content {
      padding: 4rem 2rem 2rem 2rem;
    }
  }
}
