@import "../../scss/colors.scss";
@import "../../scss/breakpoints.scss";

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10000;
}

.modal-content {
  position: fixed;
  top: 0;
  left: 25%;
  width: 75%;
  height: 100%;
  background-color: $white;
  display: flex;
  z-index: 10000;
  overflow: hidden;

  .left-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem 0 2rem 2rem;

    .title {
      font-size: 2rem;
      color: $deepgrey;
      margin-top: 3rem;
    }

    .no-items {
      margin-top: 15vh;
      text-align: center;
    }

    .list {
      flex: 1;
      overflow-y: scroll;
      padding-right: 2rem;
    }
  }

  .right-content {
    width: 25rem;
    // background-color: $lightgrey;
    border-left: 1px solid $lightdeepgrey;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    height: 100%;

    .close-button {
      align-self: flex-end;
    }

    .summary-title {
      margin: 2rem 0;
      font-weight: 500;
      font-size: 1.2rem;
      color: $deepgrey;
    }

    .item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.4rem 0;

      .key {
        font-size: 1rem;
        color: $deepgrey;
      }

      .value {
        font-size: 1.125rem;
        font-weight: 500;
        color: $deepgrey;
      }
    }

    .total {
      margin-top: auto;
      margin-bottom: 2rem;
    }
  }
}
