@import "../../scss/colors.scss";
@import "../../scss/breakpoints.scss";

.container {
  height: 100%;
  background-color: $white;
  padding-top: 5rem;

  .content {
    height: 100%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    border-top: 1px solid $lightdeepgrey;

    .section {
      border-bottom: 1px solid $lightdeepgrey;
      padding-bottom: 1.5rem;

      .section-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
        border-bottom: 1px solid $lightdeepgrey;
        margin-bottom: 1.5rem;

        .title {
          text-transform: uppercase;
        }
      }
    }

    .left-section {
      padding: 1rem 2rem 2rem 2rem;
      // height: 100%;
      display: flex;
      flex-direction: column;

      .category {
        font-size: 0.75rem;
        color: rgba(41, 37, 37, 0.6);
      }

      .name {
        font-size: 1.2rem;
        font-weight: 500;
        color: $deepgrey;
        margin: 2.5rem 0 0 0;
        text-transform: capitalize;
      }

      .price {
        font-size: 1.2rem;
        font-weight: 500;
        color: $deepgrey;
        margin: 1rem 0 1rem 0;
      }

      .sections {
        margin-top: auto;
      }
    }

    .middle-section {
      width: 40%;
      height: 100%;
      display: none;
      align-items: center;
      justify-content: center;
      border-left: 1px solid $lightdeepgrey;
      border-right: 1px solid $lightdeepgrey;
      overflow: hidden;
      position: relative;

      .next-button {
        position: absolute;
        right: 3%;
        top: 40%;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $lightdeepgrey;
        z-index: 100;
      }

      .previous-button {
        position: absolute;
        left: 3%;
        top: 40%;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $lightdeepgrey;
        z-index: 100;
      }

      .pagination {
        position: absolute;
        bottom: 5%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .dot {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: $deepgrey;
          margin: 0 0.35rem;
        }
      }

      .product-image {
        position: absolute;
        left: 12.5%;
        top: 10%;
        height: 80%;
        width: 75%;
        object-fit: contain;
      }
    }

    .image-slider {
      width: 100vw;
      height: 60vh;
      transform: translateX(-2rem);

      .middle-section {
        width: 100%;
        border-left: 0;
        border-right: 0;
        display: flex;

        .next-button {
          right: 0.5rem;
        }

        .prev-button {
          left: 0.5rem;
        }
      }

      @include md {
        display: none;
      }
    }

    .right-section {
      padding: 0rem 2rem 2rem 2rem;
      display: flex;
      flex-direction: column;

      .size {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        border: 1px solid grey;
        margin-right: 10px;
        margin-bottom: 10px;

        p {
          text-align: center;
          color: black;
        }
      }

      .sizes {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }

      .quantity-section {
        margin-top: 2rem;
      }

      .quantity {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        .size {
          margin: 0;
          padding-top: 0.1rem;
        }

        .count {
          width: 2.5rem;

          p {
            text-align: center;
          }
        }
      }

      .size-guide {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
      }

      .footer {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .like-button {
          width: 54px;
          height: 54px;
          min-width: 54px;
          min-height: 54px;
          border-radius: 50%;
          align-items: center;
          justify-content: center;
          border: 1px solid rgba(41, 37, 37, 0.2);
          padding-top: 0.25rem;
        }

        .button-container {
          flex: 1;
          padding-left: 1rem;
          // background-color: red;

          .button {
            width: 100%;
            height: 48px;
            border-radius: 8px;
            background-color: $deepgrey;
            // background-color: red;

            p {
              text-transform: capitalize;
              color: $white;
              font-size: 1rem;
            }
          }
        }
      }
    }

    @include md {
      flex-direction: row;

      .left-section {
        width: 30%;
        height: 100%;
        padding: 1rem 2rem 2rem 2rem;
        //   background-color: red;

        .name {
          font-size: 1.6rem;
          margin: 2.5rem 0 0 0;
        }

        .price {
          font-size: 1.6rem;
          margin: 1rem 0 0 0;
        }
      }

      .middle-section {
        display: flex;
      }

      .right-section {
        width: 30%;
        padding: 1rem 2rem 2rem 2rem;
        //   background-color: green;

        .footer {
          margin-top: auto;
        }
      }
    }

    @include lg {
      .left-section {
        padding: 1rem 2rem 4rem 2rem;

        .name {
          font-size: 2.2rem;
          margin: 2.5rem 0 0 0;
          // background-color: red;
        }

        .price {
          font-size: 2.2rem;
          margin: 1rem 0 0 0;
        }
      }

      .right-section {
        padding: 2rem 2rem 4rem 2rem;
      }
    }

    @include xl {
      .left-section {
        padding: 1rem 4rem 4rem 4rem;
      }

      .right-section {
        padding: 2rem 4rem 4rem 4rem;
      }
    }
  }
}
