@import "../../scss/colors.scss";
@import "../../scss/breakpoints.scss";

.container {
  height: 100%;
  background-color: $white;
  padding-top: 5rem;

  .content {
    height: 100%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    border-top: 1px solid $lightdeepgrey;

    .section {
      border-bottom: 1px solid $lightdeepgrey;
      padding-bottom: 1.5rem;

      .section-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
        border-bottom: 1px solid $lightdeepgrey;
        margin-bottom: 1.5rem;

        .title {
          text-transform: uppercase;
        }
      }
    }

    .left-section {
      padding: 1rem 4rem 4rem 4rem;
      height: 100%;
      display: flex;
      flex-direction: column;

      .category {
        font-size: 0.75rem;
        color: rgba(41, 37, 37, 0.6);
      }

      .name {
        font-size: 2.2rem;
        font-weight: 500;
        color: $deepgrey;
        margin: 2.5rem 0 0 0;
      }

      .price {
        font-size: 2.2rem;
        font-weight: 500;
        color: $deepgrey;
        margin: 1rem 0 0 0;
      }

      .sections {
        margin-top: auto;
      }
    }

    .middle-section {
      width: 40%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid $lightdeepgrey;
      border-right: 1px solid $lightdeepgrey;
      overflow: hidden;
      position: relative;

      .next-button {
        position: absolute;
        right: 3%;
        top: 40%;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $lightdeepgrey;
      }

      .previous-button {
        position: absolute;
        left: 3%;
        top: 40%;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $lightdeepgrey;
      }

      .pagination {
        position: absolute;
        bottom: 5%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .dot {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: $deepgrey;
          margin: 0 0.35rem;
        }
      }
      //   background-color: red;

      .product-image {
        position: absolute;
        left: 12.5%;
        top: 10%;
        height: 80%;
        width: 75%;
        object-fit: cover;
      }
    }

    .right-section {
      padding: 2rem 4rem 4rem 4rem;
      display: flex;
      flex-direction: column;

      .size {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        border: 1px solid grey;
        margin-right: 10px;
        margin-bottom: 10px;

        p {
          text-align: center;
          color: black;
        }
      }

      .sizes {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }

      .quantity-section {
        margin-top: 2rem;
      }

      .quantity {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        .size {
          margin: 0;
          padding-top: 0.1rem;
        }

        .count {
          width: 2.5rem;

          p {
            text-align: center;
          }
        }
      }

      .size-guide {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
      }

      .footer {
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .like-button {
          width: 54px;
          height: 54px;
          border-radius: 50%;
          align-items: center;
          justify-content: center;
          border: 1px solid rgba(41, 37, 37, 0.2);
          padding-top: 0.25rem;
        }
      }
    }

    @include md {
      flex-direction: row;

      .left-section {
        width: 30%;
        //   background-color: red;
      }

      .middle-section {
        // width: 40%;
        // height: 100%;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // //   background-color: yellow;
        // border-left: 1px solid $lightdeepgrey;
        // border-right: 1px solid $lightdeepgrey;
        // overflow: hidden;

        // .product-image {
        //   width: 80%;
        //   //   height: 80%;
        //   aspect-ratio: 0.749;
        //   object-fit: cover;
        // }
      }

      .right-section {
        width: 30%;
        //   background-color: green;
      }
    }
  }
  @include lg {
  }

  @include xl {
  }

  @include xxl {
  }

  @include xxxl {
  }
}
