@import "../../scss/colors.scss";
@import "../../scss/breakpoints.scss";

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10000;
}

.modal-content {
  position: fixed;
  top: 0;
  left: 35%;
  width: 65%;
  height: 100%;
  background-color: $white;
  display: flex;
  z-index: 10000;
  overflow: hidden;

  .left-content {
    width: 25rem;
    background-color: #f9f6f3;
    border-left: 1px solid $lightdeepgrey;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    height: 100%;

    .close-button {
      align-self: flex-end;
    }

    .title {
      margin: 2rem 0;
      font-weight: 500;
      font-size: 1.2rem;
      color: $deepgrey;
    }

    .name {
      margin: 2rem 0;
      font-weight: 500;
      font-size: 2.2rem;
      color: $deepgrey;
      text-transform: capitalize;
    }

    .menu {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1;

      .menu-item {
        position: relative;
        // background-color: yellow;
        margin-bottom: 1.5rem;
        // margin-bottom: 1rem;

        .indicator {
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 0%;
          height: 2px;
          background-color: $deepgrey;
          z-index: 10;
          transition: width 0.3s ease-in-out;
        }

        p {
          font-size: 0.875rem;
          color: $deepgrey;
          text-transform: uppercase;
        }

        &:hover {
          .indicator {
            width: 100%;
          }
        }
      }

      .last {
        margin-top: auto;
      }
    }
  }

  .right-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem 2rem 3rem;

    .close-button {
      align-self: flex-end;
    }

    .component {
      margin-top: 2rem;
      overflow-y: scroll;
      flex: 1;
      display: flex;
      flex-direction: column;

      .back-button {
        align-self: flex-start;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        // background-color: red;
        // margin-left: -12px;
        // z-index: 5;

        svg {
          transform: rotate(180deg);
        }

        p {
          margin-left: 0.25rem;
        }
      }

      .address {
        padding: 0.8rem 0rem;
        border-top: 1px solid $lightergrey;
        display: flex;
        align-items: center;

        .content {
          flex: 1;

          p {
            margin: 0.2rem 0;
          }

          .name {
            font-weight: 500;
          }

          .row {
            display: flex;
            align-items: center;
            margin-top: 0.5rem;

            button {
              margin-right: 0.75rem;

              &:disabled {
                opacity: 0.5;
              }
            }
          }
        }
      }

      .section-title {
        font-size: 1.4rem;
        color: $deepgrey;
        margin-bottom: 2rem;
      }

      .label {
        font-size: 1.2rem;
        line-height: 1.7rem;
        color: $deepgrey;
        margin-bottom: 1rem;
        margin-top: 2rem;
      }

      .wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
      }

      .button {
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $lightergrey;
        padding: 0.75rem 0;
        // margin-bottom: 2rem;

        p {
          font-size: 1rem;
          color: $deepgrey;
        }
      }

      .list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        column-gap: 32px;
        row-gap: 32px;
        padding: 1rem 2rem;

        @include md {
          padding: 1rem 2rem;
          grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
        }

        @include lg {
          padding: 1rem 4rem;
          grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        }

        @include xl {
          padding: 1rem 8rem;
          grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
        }

        @include xxl {
          padding: 1rem 12rem;
          grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
        }

        @include xxxl {
          padding: 1rem 14rem;
          grid-template-columns: repeat(auto-fit, minmax(18%, 1fr));
        }
      }
    }
  }
}
