@import "../../scss/colors.scss";
@import "../../scss/breakpoints.scss";

.container {
  width: 100%;
  height: 100%;
  background-color: $white;
  display: flex;
  z-index: 10000;
  overflow: hidden;
  padding: 4rem 0 0 0;

  .left-content {
    width: 23rem;
    // background-color: #f9f6f3;
    border-right: 1px solid $lightdeepgrey;
    padding: 2rem 1rem;
    display: none;
    flex-direction: column;
    height: 100%;

    .close-button {
      align-self: flex-end;
    }

    .title {
      margin: 1rem 0;
      font-weight: 500;
      font-size: 1.2rem;
      color: $deepgrey;
    }

    .name {
      margin: 2rem 0;
      font-weight: 500;
      font-size: 2.2rem;
      color: $deepgrey;
      text-transform: capitalize;
    }

    .menu {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1;

      .menu-item {
        position: relative;
        margin-bottom: 1.5rem;

        .indicator {
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 0%;
          height: 2px;
          background-color: $deepgrey;
          z-index: 10;
          transition: width 0.3s ease-in-out;
        }

        p {
          font-size: 0.875rem;
          color: $deepgrey;
          text-transform: uppercase;
        }

        &:hover {
          .indicator {
            width: 100%;
          }
        }
      }

      .last {
        margin-top: auto;
      }
    }
  }

  .right-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 2rem 2rem;

    .close-button {
      align-self: flex-end;
    }

    .component {
      margin-top: 0rem;
      overflow-y: scroll;
      flex: 1;
      display: flex;
      flex-direction: column;

      .back-button {
        align-self: flex-start;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        // background-color: red;
        // margin-left: -12px;
        // z-index: 5;

        svg {
          transform: rotate(180deg);
        }

        p {
          margin-left: 0.25rem;
          color: $deepgrey;
        }
      }

      .profile-image-container {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        margin-top: 2rem;
        align-self: center;
        position: relative;
        background-color: red;

        .profile-image {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }

        .upload-button {
          position: absolute;
          bottom: 6px;
          right: 6px;
          width: 32px;
          height: 32px;
          min-width: 32px;
          min-height: 32px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $green;
          cursor: pointer;
        }
      }

      .upload-file {
        display: none;
      }

      .address {
        padding: 0.8rem 0rem;
        border-bottom: 1px solid $lightergrey;
        display: flex;
        align-items: center;

        .content {
          flex: 1;

          p {
            margin: 0.2rem 0;
            color: $deepgrey;
          }

          .name {
            font-weight: 500;
          }

          .row {
            display: flex;
            align-items: center;
            margin-top: 0.5rem;

            button {
              margin-right: 0.75rem;

              &:disabled {
                opacity: 0.5;
              }
            }
          }
        }
      }

      .order {
        padding: 0.8rem 0rem;
        border-bottom: 1px solid $lightergrey;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          margin: 0.2rem 0;
          font-size: 1rem;
          color: $deepgrey;
          // background-color: red;
          text-align: left;
          margin: 0.5rem 0;
        }

        .name {
          font-weight: 500;
        }
      }

      .section-title {
        font-size: 1.4rem;
        color: $deepgrey;
        margin-bottom: 1rem;
      }

      .label {
        font-size: 1.2rem;
        line-height: 1.7rem;
        color: $deepgrey;
        margin-bottom: 1rem;
        margin-top: 2rem;
      }

      .wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
      }

      .button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $lightergrey;
        padding: 0.75rem 0;
        // margin-bottom: 2rem;

        p {
          font-size: 1rem;
          color: $deepgrey;
        }
      }

      .list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        column-gap: 32px;
        row-gap: 32px;
        padding: 1rem 2rem;

        @include md {
          padding: 1rem 2rem;
          grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
        }

        @include lg {
          padding: 1rem 4rem;
          grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        }

        @include xl {
          padding: 1rem 8rem;
          grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
        }

        @include xxl {
          padding: 1rem 12rem;
          grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
        }

        @include xxxl {
          padding: 1rem 14rem;
          grid-template-columns: repeat(auto-fit, minmax(18%, 1fr));
        }
      }
    }
  }

  @include sm {
    padding: 4rem 1rem 0 1rem;

    .left-content {
      width: 15rem;
      // background-color: blue;
      display: flex;
    }

    .right-content {
      padding: 1.5rem 1.5rem 1.5rem 1.5rem;
      // background-color: pink;
    }
  }

  @include md {
    padding: 4rem 6rem 0 6rem;

    .left-content {
      width: 18rem;
      // background-color: blue;
    }

    .right-content {
      padding: 2rem 2rem 2rem 2rem;

      .component {
        margin-top: 1.5rem;

        .button {
          width: 350px;
        }

        .section-title {
          margin-bottom: 2rem;
        }
      }
    }
  }

  @include lg {
    padding: 4rem 10rem 0 10rem;

    .left-content {
      width: 18rem;
      // background-color: red;
    }

    .right-content {
      padding: 2rem 2rem 2rem 2rem;

      .component {
        margin-top: 2rem;
      }
    }
  }

  @include xl {
    padding: 4rem 15rem 0 15rem;

    .left-content {
      width: 23rem;
    }

    .right-content {
      padding: 2rem 3rem 2rem 3rem;
    }
  }
}
