@import "../../scss/colors.scss";
@import "../../scss/breakpoints.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0rem 2rem;
  background-color: $white;
  z-index: 10;

  .logo {
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: pink;
  }

  .menu {
    position: absolute;
    height: 100%;
    width: 4rem;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: yellow;
  }

  .right-section {
    display: flex;
    align-items: center;

    button {
      margin-left: 2rem;

      // &:first-of-type {
      //   margin-left: 0;
      // }
    }

    .profile-image {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  @include md {
    height: 4.5rem;

    .menu {
      display: none;
    }

    .logo {
      width: calc(100% - 4rem);
    }
  }

  @include lg {
    padding: 0rem 4rem;
    height: 5rem;
  }

  @include xl {
    padding: 0rem 5rem;
  }
}
