@import "../../scss/colors.scss";
@import "../../scss/breakpoints.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  // align-items: center;
  // justify-content: space-between;
  padding: 0rem 2rem;
  background-color: $white;
  z-index: 10000;

  .logo {
    margin-top: 0.2rem;
  }

  .desktop {
    display: none;
  }

  .mobile {
    margin-top: 0.2rem;
    .menu {
      justify-content: space-between;
      .menu-item {
        margin: 0 0rem;
      }
    }
  }

  .top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    // background-color: red;
  }

  .menu {
    display: flex;
    align-items: center;

    .menu-item {
      position: relative;
      // margin-bottom: 1.5rem;
      margin: 0 1rem;

      .indicator {
        position: absolute;
        bottom: -5px;
        left: 10%;
        width: 0%;
        height: 2px;
        background-color: $deepgrey;
        z-index: 10;
        transition: width 0.3s ease-in-out;
      }

      p {
        font-size: 0.975rem;
        color: $deepgrey;
        font-weight: 500;
      }

      &:hover {
        .indicator {
          width: 50%;
        }
      }
    }
  }

  .cart-icon {
    position: relative;
    margin-top: 0.2rem;

    .cart-count {
      position: absolute;
      top: -8px;
      right: -8px;
      width: 24px;
      height: 24px;
      min-width: 24px;
      min-height: 24px;
      border-radius: 50%;
      background-color: $green;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        color: $white;
        font-size: 0.875rem;
      }
    }

    button {
      margin-left: 2rem;
    }

    .profile-image {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  @include sm {
    .mobile {
      .menu {
        justify-content: center;
        .menu-item {
          margin: 0 0.5rem;
        }
      }
    }
  }

  @include md {
    height: 4.5rem;
    padding: 0rem 5rem;

    .mobile {
      display: none;
    }

    .desktop {
      display: flex;
    }

    .top-section {
      margin: 0.75rem 0 0 0;
    }
  }

  @include lg {
    padding: 0rem 8rem;
    height: 5rem;
  }

  @include xl {
    padding: 0rem 12rem;
  }
}
