@import "../../scss/colors.scss";
@import "../../scss/breakpoints.scss";

.container {
  height: 100%;
  padding-top: 5rem;
  overflow: hidden;

  .content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    .title-section {
      position: fixed;
      top: 6rem;
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 100;
      background-color: $white;
      padding-bottom: 1rem;
      // background-color: red;

      .title {
        text-align: center;
        font-weight: 600;
        color: $deepgrey;
      }

      .sub-title {
        text-align: center;
        // font-weight: 500;
        color: $deepgrey;
      }
    }

    .empty {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 4rem 2rem 0 2rem;

      .label {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        color: $deepgrey;
      }

      .description {
        font-size: 1rem;
        margin-bottom: 1rem;
        color: $deepgrey;
      }
    }

    .list {
      display: grid;
      grid-template-columns: repeat(
        auto-fill,
        minmax(calc(min(40%, 100%)), 1fr)
      );
      column-gap: 32px;
      row-gap: 32px;
      padding: 6rem 2rem 1rem 2rem;
    }

    @include sm {
      padding: 4.2rem 2rem 1rem 2rem;

      .title-section {
        top: 5rem;
      }

      .list {
        grid-template-columns: repeat(
          auto-fill,
          minmax(calc(min(10rem, 100%)), 1fr)
        );
      }
    }

    @include md {
      padding: 4.2rem 2rem 1rem 2rem;

      .list {
        grid-template-columns: repeat(
          auto-fill,
          minmax(calc(min(10rem, 100%)), 1fr)
        );
      }
    }

    @include lg {
      padding: 4.2rem 4rem 1rem 4rem;

      .list {
        grid-template-columns: repeat(
          auto-fill,
          minmax(calc(min(12rem, 100%)), 1fr)
        );
      }
    }

    @include xl {
      padding: 4.2rem 8rem 1rem 8rem;

      .list {
        grid-template-columns: repeat(
          auto-fill,
          minmax(calc(min(12rem, 100%)), 1fr)
        );
      }
    }

    @include xxl {
      padding: 4.2rem 12rem 1rem 12rem;

      .list {
        grid-template-columns: repeat(
          auto-fill,
          minmax(calc(min(15rem, 100%)), 1fr)
        );
      }
    }
  }
}
