@import "../../scss/colors.scss";
@import "../../scss/breakpoints.scss";

.container {
  width: 100%;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;

  .left-container {
    width: 100%;
    padding: 2rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: column;

    .title {
      color: $deepgrey;
      font-size: 1.6rem;
    }

    .label {
      margin: 0.5rem 0 1rem 0;
    }

    .products {
      flex: 1;
      overflow-y: scroll;
    }
  }

  .right-container {
    width: 100%;
    padding: 1rem 2rem;

    .confirm-button {
      margin-top: 2rem;
    }
  }

  .section {
    padding: 1rem 0;
    border-bottom: 1px solid $lightdeepgrey;

    .section-title {
      font-weight: 500;
      color: $deepgrey;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      // margin-top: 1rem;
    }

    .no-address {
      margin-bottom: 1rem;
    }

    .address {
      display: flex;
      align-items: center;

      .content {
        flex: 1;
      }
    }

    .product {
      display: flex;
      margin-bottom: 1rem;

      .product-image {
        width: 70px;
        height: 100px;
        object-fit: contain;
      }

      .content {
        flex: 1;
        padding-left: 1rem;

        p {
          margin-bottom: 0.2rem;
        }
      }
    }

    .row-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.75rem;
    }

    .change {
      margin-top: 0.5rem;

      p {
        color: $primary;
        font-size: 1rem;
      }
    }
  }

  @include md {
    overflow: hidden;
    flex-direction: row;
    height: 100%;

    .left-container {
      width: 50%;
      padding: 2rem 2rem;
      border-right: 1px solid $lightdeepgrey;
      // overflow-y: scroll;

      .products {
        flex: 1;
        overflow-y: scroll;
        height: 50%;
      }
    }

    .right-container {
      padding: 2rem 2rem;
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      // background-color: red;

      .confirm-button {
        margin-top: auto;
        align-self: center;
      }
    }
  }

  @include lg {
    flex-direction: row;

    .left-container {
      width: 50%;
      padding: 2rem 4rem;
      border-right: 1px solid $lightdeepgrey;
    }

    .right-container {
      width: 50%;
      padding: 2rem 4rem;
    }
  }
}
