@import "../../scss/colors.scss";
@import "../../scss/breakpoints.scss";

.container {
  height: 100%;
  padding-top: 5rem;
  overflow: hidden;

  .content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    .list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
      column-gap: 32px;
      row-gap: 32px;
      padding: 1rem 2rem;

      @include md {
        padding: 1rem 2rem;
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
      }

      @include lg {
        padding: 1rem 4rem;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
      }

      @include xl {
        padding: 1rem 8rem;
        grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
      }

      @include xxl {
        padding: 1rem 12rem;
        grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
      }

      @include xxxl {
        padding: 1rem 14rem;
        grid-template-columns: repeat(auto-fit, minmax(18%, 1fr));
      }
    }
  }
}
